<html>
<head>
    <title>Maintenance</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            background-color: #8e44ad;
        }

        .content {
            width: 100%;
            margin-top: 4em;
            text-align: center;
            color: #ecf0f1;
            font-family: Tahoma, Geneva, sans-serif;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>
    Under maintenance
    </h1>
    <span class="description">
        The application is currently under maintenance, sorry for the inconvenience.<br/>
        For any question, do not hesitate to contact us.
    </span>
</div>
</body>
</html>